@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background: linear-gradient(135deg, #030e28, #2e4a8e); /* Gradient added */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
  border-radius: 30px; /* Smooth corners */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.505);
  color: var(--color-primary);
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 10px;
  color: rgba(254, 254, 254, 0.9);
 
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  
}
.link:hover {
  transform: translateX(5px); /* Subtle slide effect on hover */
  opacity: 0.8; /* Slightly fade on hover */
}
.link img {
  width: 35px; /* Adjusted icon size */
  height: 35px;
  filter: drop-shadow(0 0 5px rgba(145, 152, 180, 0.4)); /* Subtle glow for icons */
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.link a:hover {
  color: #6d71db;
  transform: scale(1.05);
  transform: translateX(5px);
  opacity: 0.8;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .links {
    align-items: center;
  }
  @media screen and (max-width: 500px) {
  .container {
    padding: 40px 4%;
  }
  .text h2 {
    font-size: 32px;
  }
  .text p {
    font-size: 16px;
  }
  .link a {
    font-size: 16px;
  }
}
}
